@import "../../assets/style/variables";

.AboutBatalion {
    padding: 50px 0;
}

.AboutBatalionTitle {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;

    @media screen and (min-width: $tablet) {
        font-size: 40px;
    }
}

.AboutBatalionIntro {
    text-align: center;
    margin-bottom: 60px;

    span {
        display: inline-block;
        margin-top: 10px;
    }
}