@import "../../assets/style/variables";


.Container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 500px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 80px;
  }
}
