
@import "../../../assets/style/variables";

.Vehicle {
    position: relative;
    max-width: 80px;

    @media screen and (min-width: $tablet) {
        max-width: 150px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 250px;
    }

    img {
        display: flex;
        width: 100%;
        object-fit: cover;
    }
}

.VehicleTarget {
    cursor: url('../../../assets/images/crosshair.webp') 16 16, auto;
    position: absolute;
    top: 9%;
    left: 7%;
    height: 60%;
    width: 80%;
}