.Popup {
    width: 340px;
    margin: 30px auto 0;
    padding: 10px 20px 30px;
    background: rgb(94, 117, 95);
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: -135px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease;
    box-shadow: 0 0 10px #000;
}

.PopupActive {
    bottom: 0;
    z-index: 100;
}


.PopupHeading {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(39, 53, 40);
}

.PopupControls {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}