@import "../../assets/style/variables";

.Popup {
    width: 95%;
    margin: 30px auto 0;
    padding: 10px 10px 30px;
    background: rgb(116, 137, 117);
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: -135px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease;
    // box-shadow: 0 0 10px #fff;

    @media screen and (min-width: $tablet) {
        width: 340px;
        padding: 10px 20px 30px;
    }
}

.PopupActive {
    bottom: 0;
    z-index: 100;
}


.PopupHeading {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: #04240b;
}

.PopupControls {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}