@import "../../assets/style/variables";

.Header {
    background: linear-gradient(202deg, #04240b 0%, rgba(22, 61, 31, 1) 60%, rgba(47, 75, 54, 1) 100%);
    box-shadow: 0 1px 20px #000000;
    position: relative;
    z-index: 20;

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        padding: 16px 0;
    }

    @media screen and (min-width: $tablet) {
        padding: 5px 0;
    }
}

.HeaderBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderNav {
    display: flex;
    align-items: center;
}

.HeaderList {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.HeaderListItem {
    margin-left: 36px;
}

.HeaderLink {
    display: block;
    padding-top: 5px 0;
    font-weight: $bold;
    font-size: 22px;
    color: #fff;

    &:hover,
    &:focus {
        color: $secondary-bg-color;
    }
}

.HeaderLogo {
    display: flex;
    align-items: center;
    font-size: 42px;
    font-family: $font-roboto;
    color: #04240b;
    text-shadow: 0 0 1px #a3a3a3;

    @media screen and (min-width: $desktop) {
        font-size: 72px;
    }

    img {
        width: 40px;

        @media screen and (min-width: $desktop) {
            width: 55px;
        }
    }
}

.BurgerMenuOpen {
    font-size: 34px;
    padding: 8px 0;
    line-height: 0;
    border: none;
    color: #fff;
    background-color: transparent;
    transition-property: color;
    transition: color .3s;

    &:hover,
    &:focus {
        color: $secondary-bg-color;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.HeaderOptions {
    display: flex;
    align-items: center;
    gap: 20px;
}